
<div class="jumbotron home-search" style="">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<br />
				<p class="main_description">Rechercher, prenez contact et puis &eacute;changer. En toute simplicit&eacute; !</p>
				<br /><br />
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2" style="text-align: center">
						<div class="row">
							<div class="col-sm-10 col-sm-offset-1">
								<div class="input-group">
									<span class="input-group-addon input-group-addon-text">Je veux un(e)</span>
									<input type="text" class="form-control col-sm-3" placeholder="ex : iPhone 5, Galaxy 5, ... " ng-model="query">
									<div class=" input-group-addon hidden-xs">
										<div class="btn-group" >
											<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
												Toutes les cat&eacute;gories <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a href="index.html#">Cars, Vans & Motorbikes</a></li>
												<li><a href="index.html#">Community</a></li>
												<li><a href="index.html#">Flats & Houses</a></li>
												<li><a href="index.html#">For Sale</a></li>
												<li><a href="index.html#">Jobs</a></li>
												<li><a href="index.html#">Pets</a></li>
												<li><a href="index.html#">Services</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<br />
				<br />
				<div class="row">
					<div class="col-sm-12" style="text-align: center">
						<a href="listings.html" class="btn btn-primary search-btn">Rechercher</a>
					</div>
				</div>
				<br />
				<div class="col-md-10">
					<!--Body content-->

					<ul class="ads">
						<li ng-repeat="ad in ads | filter:query" class="thumbnail">
						<a href="#/ads/{{ad.id}}" class="thumb"><img ng-src="{{ad.imageUrl}}"></a>
						<a href="#/ads/{{ad.id}}">{{ad.title}}</a>
							<p>{{ad.description}}</p>
					</ul>

				</div>

				<br />
				<br />
				<div class="row">
					<div class="col-sm-12" style="text-align: center">
						<div id="quotes">
							<div class="text-item" style="display: none;">Succ&egrave;s ! <strong>USER</strong> vient d'&eacute;changer <strong>OBJET</strong> sur <strong>VILLE</strong></div>
							<div class="text-item" style="display: none;">Boom! <strong>Vince</strong> just sold a <strong>Washing Machine</strong> in <strong>Sheffield</strong></div>
							<div class="text-item" style="display: none;"><strong>Julia</strong> is availiable for <strong>home cleaning</strong> in <strong>Manchester</strong></div>
							<div class="text-item" style="display: none;">Success! <strong>Paul</strong> has just sold a <strong>Mercedes</strong> in <strong>Liverpool</strong></div>
							<div class="text-item" style="display: none;">Hey, <strong>Uber</strong> has a <strong>job opening</strong> in <strong>London</strong></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<div class="row directory-counties hidden-xs">
				<div class="col-sm-12">
					<ul class="nav nav-tabs" id="myTab">
						<li class=""><a data-toggle="tab" href="#/home#popular">Catégories</a></li>
						<li class=""><a data-toggle="tab" href="#/home#EN">Villes</a></li>
						<li class=""><a data-toggle="tab" href="#/home#WA">Tag Cloud</a></li>
					</ul>
					<div class="tab-content " id="myTabContent">
						<div id="popular" class="tab-pane fade counties-pane active">
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html">London</a><br />
										<a href="listings.html">Edinburgh</a><br />
										<a href="listings.html">Manchester</a><br />
										<a href="listings.html">Birmingham</a><br />
										<a href="listings.html">Glasgow</a><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html">Liverpool</a><br />
										<a href="listings.html">Bristol</a><br />
										<a href="listings.html">Oxford</a><br />
										<a href="listings.html">Cambridge</a><br />
										<a href="listings.html">Cardiff</a><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html">Brighton</a><br />
										<a href="listings.html">Newcastle-upon-Tyne</a><br />
										<a href="listings.html">Leeds</a><br />
										<a href="listings.html">York</a><br />
										<a href="listings.html">Inverness</a><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html">Bath</a><br />
										<a href="listings.html">Nottingham</a><br />
										<a href="listings.html">Reading</a><br />
										<a href="listings.html">Aberdeen</a><br />
										<a href="listings.html">Chester</a><br />
									</div>
								</div>
							</div>
						</div>

						<div id="EN" class="tab-pane counties-pane">
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html" >Avon</a><br />
										<a href="listings.html" >Bedfordshire</a><br />
										<a href="listings.html" >Berkshire</a><br />
										<a href="listings.html" >Buckinghamshire</a><br />
										<a href="listings.html" >Cambridgeshire</a><br />
										<a href="listings.html" >Cheshire</a><br />
										<a href="listings.html" >Cleveland</a><br />
										<a href="listings.html" >Cornwall</a><br />
										<a href="listings.html" >Cumbria</a><br />
										<a href="listings.html" >Derbyshire</a><br />
										<a href="listings.html" >Devon</a><br />
										<a href="listings.html" >Dorset</a><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html" >Durham</a><br />
										<a href="listings.html" >East Sussex</a><br />
										<a href="listings.html" >Essex</a><br />
										<a href="listings.html" >Gloucestershire</a><br />
										<a href="listings.html" >Hampshire</a><br />
										<a href="listings.html" >Herefordshire</a><br />
										<a href="listings.html" >Hertfordshire</a><br />
										<a href="listings.html" >Isle of Wight</a><br />
										<a href="listings.html" >Kent</a><br />
										<a href="listings.html" >Lancashire</a><br />
										<a href="listings.html" >Leicestershire</a><br />
										<a href="listings.html" >Lincolnshire</a><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html" >London</a><br />
										<a href="listings.html" >Merseyside</a><br />
										<a href="listings.html" >Middlesex</a><br />
										<a href="listings.html" >Norfolk</a><br />
										<a href="listings.html" >Northamptonshire</a><br />
										<a href="listings.html" >Northumberland</a><br />
										<a href="listings.html" >North Humberside</a><br />
										<a href="listings.html" >North Yorkshire</a><br />
										<a href="listings.html" >Nottinghamshire</a><br />
										<a href="listings.html" >Oxfordshire</a><br />
										<a href="listings.html" >Rutland</a><br />
										<a href="listings.html" >Shropshire</a><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html" >Somerset</a><br />
										<a href="listings.html" >South Humberside</a><br />
										<a href="listings.html" >South Yorkshire</a><br />
										<a href="listings.html" >Staffordshire</a><br />
										<a href="listings.html" >Suffolk</a><br />
										<a href="listings.html" >Surrey</a><br />
										<a href="listings.html" >Tyne and Wear</a><br />
										<a href="listings.html" >Warwickshire</a><br />
										<a href="listings.html" >West Midlands</a><br />
										<a href="listings.html" >West Sussex</a><br />
										<a href="listings.html" >West Yorkshire</a><br />
										<a href="listings.html" >Worcestershire</a><br />
									</div>
								</div>
							</div>
						</div>
						<div id="WA" class="tab-pane counties-pane">
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html" >Clwyd</a><br />
										<a href="listings.html" >Dyfed</a><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html" >Gwent</a><br />
										<a href="listings.html" >Gwynedd</a><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html" >Mid Glamorgan</a><br />
										<a href="listings.html" >Powys</a><br />
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row directory-block">
									<div class="col-sm-12">
										<a href="listings.html" >South Glamorgan</a><br />
										<a href="listings.html" >West Glamorgan</a><br />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-4 " >
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-12 col-lg-11 pull-right" >
					<p class="main_slogan" style="margin: 28px 0">Il y'a actuellement 355,785 annonces en ligne.</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-12 col-lg-11 pull-right" >
					<div class="panel panel-default">
						<div class="panel-heading">Derniers ajouts</div>
						<div class="panel-body">
							<div class="featured-gallery">
								<div class="row">
									<div class="col-sm-6 col-xs-4 featured-thumbnail" data-toggle="tooltip" data-placement="top" title="Programmer job availiable at Uber in London">
										<a href="details.html" class="">
											<img alt="" src="images/logos/uberlogo_large_verge_medium_landscape.png" style="width: 100%" >
										</a>
									</div>
									<div class="col-sm-6 col-xs-4 featured-thumbnail" data-toggle="tooltip" data-placement="top" title="Porsche Boxster S, 2.9 2dr reg Apr 2007 ">
										<a href="details.html" class="">
											<img alt="" src="images/logos/car-78738_150.jpg" />
										</a>
									</div>
									<div class="col-sm-6 col-xs-4 featured-thumbnail" data-toggle="tooltip" data-placement="top" title="Please find my lost cat">
										<a href="details.html" class="" >
											<img alt="" src="images/logos/cats-q-c-120-80-4.jpg" />
										</a>
									</div>
									<div class="col-sm-6 col-xs-4 featured-thumbnail" data-toggle="tooltip" data-placement="top" title="Mini copper looking for a quick sell !! - London - £2,485">
										<a href="details.html" class="" >
											<img alt="" src="images/logos/transport-q-c-120-80-8.jpg" />
										</a>
									</div>
									<div class="col-sm-6 col-xs-4 featured-thumbnail" data-toggle="tooltip" data-placement="top" title="Old MP3 player for sale">
										<a href="details.html" class="" >
											<img alt="" src="images/logos/technics-q-c-120-80-10.jpg" />
										</a>
									</div>
									<div class="col-sm-6 col-xs-4 featured-thumbnail" data-toggle="tooltip" data-placement="top" title="Designer job availiable at Uber in London">
										<a href="details.html" class="" >
											<img alt="" src="images/logos/uberlogo_large_verge_medium_landscape.png" />
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>				
</div><!-- /.container -->
